.sevBlock {
  width: 100%;
  height: 110vh;
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(13, 15, 70));
  color: white;
  margin-top: -2rem;
}
.sevDivi {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.sevDivi1 {
  margin-top: 3rem;
  width: 50%;
  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
  flex-direction: column;
  margin-left: 190px;
  margin-right: -30px;
}
.sevDivi1 h2 {
  margin-bottom: 40px;
}
.sevDivi1 p {
  margin-top: -6px;
}
.sevDivi2 {
  width: 50%;
  margin-left: -50px;
}
.headSev {
  font-size: 25px;

  font-weight: bold;
  background: linear-gradient(to bottom, #dbb5f0, #6711b3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}
.emailSev {
  margin-left: 15px;
}
.footerText {
  text-align: center;
  color: white;
  font-size: 0.9rem;
  margin-top: 2rem;
}
.social-icon {
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2); /* increases size by 20% */
}
@media (max-width: 768px) {
  .sevDivi {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .sevBlock {
    width: 100%;
    height: 132vh;
    margin-top: -2rem;
  }
  .headSev {
    font-size: 18px;

    font-weight: bold;
    background: linear-gradient(to bottom, #dbb5f0, #6711b3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
  }
  .headSev h1 {
    margin-top: 20%;
  }
  .sevDivi2 {
    width: 395px;
    height: 50%;
    margin-left: 15px;
  }
  .sevDivi1 {
    width: 80%;
    height: auto;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    margin-left: 65px;
    margin-right: -30px;
    margin-top: 5px;
  }
  .sevDivi1 h2 {
    margin-bottom: 40px;
    font-size: 1.2rem;
  }
  .sevDivi1 p {
    margin-top: -18px;
  }
}
